header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    min-height: 75px;
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;

    /* Shadow underneat the header */
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
}

header #header-logo, header #header-account {
    display: flex;
    align-items: center;
}

header #header-logo {
    flex-wrap: nowrap;
}

header #header-account {
    flex-wrap: wrap;
}

header #header-logo, header #header-logo-img {
    height: 40px;
    width: auto;
    margin-inline: 25px;
    margin-block: 15px;
}

header #header-account {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline: 25px;
}

header #header-account #header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

header #header-account #header-buttons>* {
    margin-block: 5px;
    margin-inline: 5px;
    width: min(100%, 130px);
}

header #header-account a#header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-inline: 25px;
}

header #header-account a#header-profile img {
    height: 40px;
    width: auto;
    border-radius: 20px;
    margin-right: 10px;
}

header #header-account a#header-profile {
    color: #fff;
    text-decoration: none;
}

header #header-account a#header-profile p {
    font-size: 20px;
}