/* header and footers */
@import "./header.css";
@import "./footer.css";

/* Components */
@import "./components/buttons.css";
@import "./components/titles.css";
@import "./components/inputs.css";
@import "./components/error.css";
@import "./components/panier.css";

/* Specific pages */
@import "./pages/index.css";
@import "./pages/maintenance.css";
@import "./pages/account.css";
@import "./pages/order.css";
@import "./pages/product.css";
@import "./pages/checkout.css";
@import "./pages/order_confirmation.css";

/* Admin */
@import "./admin/admin.css";
@import "./admin/navbar.css";
@import "./admin/header.css";

/* import google font */
@import "../assets/fonts/kanit.css";

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

main {
    padding-block: 75px;
    padding-inline: min(5%, 50px);
}

::selection {
    color: #fff !important;
    background: #136990 !important;
}

:focus {
    outline: none;
    box-shadow: 0 0 0 3px #cc213c;
}

* {
    font-family: 'Kanit', Tahoma, sans-serif;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}
