.primary-button {
    background-color: #136990;
    color: #ddd;
}

.secondary-button {
    background-color: #ddd;
    color: #136990;
    box-shadow: inset 0 0 0 2px #136990;
}

.danger-button {
    background-color: #cc213c;
    box-shadow: inset 0 0 0 2px #7e0f1f;
    color: #fff;
}

.primary-button:hover {
    background-color: #0b476e;
    color: #fff;
}

.primary-button:active {
    background-color: #0a3c5e;
    color: #fff;
    text-shadow: 0 0 30px #fff;
}

.secondary-button:hover {
    background-color: #aaa;
    color: #ddf4ff;
}

.secondary-button:active {
    background-color: #999;
    color: #ddf4ff;
    text-shadow: 0 0 10px #136990;
}

.danger-button:hover {
    background-color: #f00;
    color: #fff;
}

.danger-button:active {
    background-color: #cc213c;
    color: #fff;
    text-shadow: 0 0 10px #cc213c;
}

.primary-button:disabled, .secondary-button:disabled, .danger-button:disabled {
    cursor: not-allowed;
}

.primary-button:disabled {
    color: #9bb2c4;
    background-color: #6f879b;
}

.secondary-button:disabled {
    color: #5c7386;
    background-color: #aaa;
    box-shadow: inset 0 0 0 2px #5c7386;
}

.danger-button:disabled {
    color: #81535a;
    background-color: #d1a1a8;
    box-shadow: inset 0 0 0 2px #81535a;
}

.secondary-button, .primary-button, .danger-button {
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    display: inline-block;
    border: none;
}

/* Default button size */
.secondary-button, .primary-button, .danger-button {
    padding-inline: 25px;
    padding-block: 10px;
    margin-inline: 5px;
    font-size: 16px;
    /* min-width: 100px; */
    width: minmax(100px, 200px);
    white-space: nowrap;
}

.secondary-button.large-button, .primary-button.large-button, .danger-button.large-button {
    padding-inline: 30px;
    padding-block: 15px;
    font-size: 18px;
}

.secondary-button.mini-button, .primary-button.mini-button, .danger-button.mini-button {
    padding-inline: 15px;
    padding-block: 5px;
    font-size: 14px;
}

/* Remove left margin if the button is the first element of its row */
.primary-button:not(.primary-button ~.primary-button), .secondary-button:not(.secondary-button ~.secondary-button), .danger-button:not(.danger-button ~.danger-button) {
    margin-left: 0;
}

/* Remove right margin if the button is the last element of its row */
.secondary-button:not(:has(~ .secondary-button)), .primary-button:not(:has(~ .primary-button)), .danger-button:not(:has(~ .danger-button)) {
    margin-right: 0;
}