input, select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.3s ease;
}

input[type=checkbox] {
    width: fit-content;
    margin-bottom: 0;
}

label:has(+ *:required)::after {
    content: " *";
    color: red;
}

/* invalid fields that are not :empty */
input:invalid:not(:placeholder-shown):not([type=submit]) {
    color: red;
    border-color: red;
}

input:valid:not(:placeholder-shown):not([type=submit]) {
    color: green;
    border-color: green;
}
