.panier {
    background-color: #ddd;
    color: #000;

    width: 450px;
    height: fit-content;

    padding-inline: 20px;
    padding-block: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.panier form {
    margin-block-end: 0;
}

@media screen and (max-width: 1000px) {
    .panier {
        width: calc(100% - min(50px, 5%));
        margin-left: 0;
        margin-top: 20px;
    }
}


/* LISTE PRODUITS */
.panier ul.panier-liste {
    list-style-type: none;
    padding-inline: 0;
    padding-block: 0;
}

.panier ul.panier-liste li.panier-produit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 20px;
}

.panier ul.panier-liste li.panier-produit:is(:last-child) {
    margin-bottom: 0;
}

.panier ul.panier-liste li.panier-produit .panier-produit-image img {
    width: 75px;
    border-radius: 10px;
    box-shadow: -2px 2px 3px 1px #bbb;
}

.panier ul.panier-liste li.panier-produit .panier-produit-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    width: 100%;
}

.panier ul.panier-liste li.panier-produit .panier-produit-infos .panier-produit-nom {
    font-size: 1.2rem;
    font-weight: 500;
}

.panier ul.panier-liste li.panier-produit a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}


/* OPTIONS */
.panier-produit-options {
    margin-bottom: 5px;
}

.panier-produit-options ul.panier-produit-supplements,
.panier-produit-options ul.panier-produit-ingredients-ajoutes,
.panier-produit-options ul.panier-produit-ingredients-retires {
    font-size: 0.9rem;
    font-weight: 300;
    margin-block: 5px;
    padding-left: 25px;
}

.panier-produit-options ul.panier-produit-supplements li,
.panier-produit-options ul.panier-produit-ingredients-ajoutes li,
.panier-produit-options ul.panier-produit-ingredients-retires li {
    margin-block: -8px;
}

.panier-produit-options ul.panier-produit-supplements {
    list-style-type: square;
}

.panier-produit-options ul.panier-produit-ingredients-ajoutes {
    list-style-type: "＋ ";
    color: #090;
}

.panier-produit-options ul.panier-produit-ingredients-retires {
    list-style-type: "－ ";
    color: #D00;
}

.panier-produit-options ul.panier-produit-ingredients-ajoutes:empty,
.panier-produit-options ul.panier-produit-ingredients-retires:empty {
    display: none;
}


/* TOTAL */
.panier div.panier-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.panier h3.total {
    width: fit-content;
    margin-right: 20px;
}

.panier p.price {
    width: fit-content;
}


/* ACTIONS */
.panier .panier-actions form {
    width: 100%;
}

.panier .panier-actions input {
    width: 95%;
}

.panier .panier-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .panier .panier-actions input {
        width: 100%;
    }

    .panier .panier-actions {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .panier .panier-actions input {
        width: 100%;
    }

    .panier .panier-actions {
        flex-wrap: wrap;
    }
}