body.page-accueil {
    color: #fff;
}

body.page-accueil main {
    background-blend-mode: multiply;
    background-color: #555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 95px - 150px); /* Calcule la hauteur en soustrayant celle du header */
    padding-inline: 50px;
}

@media screen and (max-width: 650px) {
    body.page-accueil main {
        height: auto;
        padding-top: 100px;
        padding-bottom: 150px;
    }
}

body.page-accueil main p {
    font-size: 1.2rem;
    font-weight: 350;
    margin-top: 0;
}