div.products-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.product {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.product::after {
    content: 1fr;
}

.product h3, .product p {
    margin: 0;
    padding: 0;
}

.product img {
    width: 100%;
}