main.order-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.order-page .page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-right: 20px;
}

@media screen and (max-width: 1000px) {
    main.order-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .order-page .page-content {
        width: 100%;
        margin-right: 0;
    }
}

.order-page h1 {
    margin-bottom: 0;
}

.product h3, .product p {
    margin: 0;
    padding: 0;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

div.products-grid {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    margin-top: 20px;
    width: 100%;
}

.product {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 15px;
    border-radius: 20px;

    transition: all 0.3s ease;
}

.product:hover {
    /* border: solid 1px #cc213c; */
    box-shadow: 7px 7px 1px #136990;
    background-color: #eee;
}

.product.produitdumoment {
    border: solid 1px #cc213c;
    background-color: #feeeee;
    margin-block: auto;
}

.product.produitdumoment:hover {
    box-shadow: 7px 7px 1px #cc213c;
    background-color: #eee;
}

.product.produitdumoment p.produitdumoment-label {
    background-color: #cc213c;
    color: white;
    border-radius: 0 0 20px 0;
    text-align: left;
    padding-left: 10px;
}